.title{
    background: #000000;
    border-radius: 90px;
    outline: 10px rgb(0, 83, 115) solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: block;
    margin-right: 15px;
    margin-left: 15px;
}
.title-title{
    line-height: 1.2;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 40px;
    font-family: Ubuntu, serif;
    font-weight: 300;
    text-decoration: underline;
    letter-spacing: 2px;
    word-wrap: break-word;padding-bottom: 5px;padding-top: 5px;
}